[profile.default]
src = "contracts"
out = "out"
libs = ["lib"]
solc = "0.8.20"
optimizer = true
optimizer_runs = 200
via_ir = false

[rpc_endpoints]
base = "${BASE_RPC_URL:-https://mainnet.base.org}"
baseSepolia = "${BASE_SEPOLIA_RPC_URL:-https://sepolia.base.org}"

[etherscan]
base = { key = "${BASESCAN_API_KEY}" }
baseSepolia = { key = "${BASESCAN_API_KEY}" }


